body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif; 
    width: 100%;
}

#top-main-container{
    background-color: #056674;
    height: 46rem;
    border: none;
    text-align: center;
}

.top-section-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20rem;
    color: #e0ece4;
    position: relative;
}

.top-section-content h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Sacramento', cursive;
}

.top-section-content p{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

#personal-info-container{
    height: auto;
    min-height: 18.75em;
    background-color: #ffffff;
}

.info-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0f4c75;
}

.my-profile-pic{
    height: 18.75rem;
    width: 50%;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.left-align{
    margin-top: 30px;
}

#online-bussiness{
    background-image: url(../images/13594.jpg);
    background-size: cover;
    opacity: 90%;
    background-repeat: no-repeat;
    height: 700px;;
    border: none;
    padding-top: 300px;
    background-position: 50% 50%;
}

.online-bussiness-content{
    color: #ff2e63;
    background: #252a34;
    border-radius: 20px;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
}

.footer-container{
    height: auto;
    background-color: #056674;
    clear: both;
    background-position: 50% 50%;
}

.footer-container-content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    text-align: center;
}

.copyright{
    color: white;
    font-size: .9em;
    text-align: center;
    display: block;
    padding-bottom: 50px;
}

.logo-hover:hover{
    opacity: 80%;
}

.company_logo{
    display: block;
    padding-top: 100px;
}


/* Bootstrap CSS*/
.navbar{
    background-color: #056674;
}

#contact-me-btn{
    font-size: 16px;
    font-weight: bolder;
    width: 150px;
    border-radius:10px;
}

.nav-item{
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
    padding-right: 40px;
}

.navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 1.7rem;
    width: 350px;
    font-weight: bolder;
    color: #ffffff;
    margin-right: 0;
}


/*Media Query CSS */

@media (max-width: 900px){
   .top-section-content h1{
       font-size: 2rem;
    }
    
    .top-section-content p{
        font-size: 1rem;
    }
    .online-bussiness-content{
        width: 90%;
    }
    .online-bussiness-content h1{
        font-size: 26px;
    }
    
    .my-profile-pic{
        width: 80%;
    }
}